In [2]:
import pandas as pd
import numpy as np

In [3]:
rng = pd.date_range('1/1/2011', periods=72, freq='H')

In [4]:
rng

DatetimeIndex(['2011-01-01 00:00:00', '2011-01-01 01:00:00',
               '2011-01-01 02:00:00', '2011-01-01 03:00:00',
               '2011-01-01 04:00:00', '2011-01-01 05:00:00',
               '2011-01-01 06:00:00', '2011-01-01 07:00:00',
               '2011-01-01 08:00:00', '2011-01-01 09:00:00',
               '2011-01-01 10:00:00', '2011-01-01 11:00:00',
               '2011-01-01 12:00:00', '2011-01-01 13:00:00',
               '2011-01-01 14:00:00', '2011-01-01 15:00:00',
               '2011-01-01 16:00:00', '2011-01-01 17:00:00',
               '2011-01-01 18:00:00', '2011-01-01 19:00:00',
               '2011-01-01 20:00:00', '2011-01-01 21:00:00',
               '2011-01-01 22:00:00', '2011-01-01 23:00:00',
               '2011-01-02 00:00:00', '2011-01-02 01:00:00',
               '2011-01-02 02:00:00', '2011-01-02 03:00:00',
               '2011-01-02 04:00:00', '2011-01-02 05:00:00',
               '2011-01-02 06:00:00', '2011-01-02 07:00:00',
               '2011-01-02 08:00:00', '2011-01-02 09:00:00',
               '2011-01-02 10:00:00', '2011-01-02 11:00:00',
               '2011-01-02 12:00:00', '2011-01-02 13:00:00',
               '2011-01-02 14:00:00', '2011-01-02 15:00:00',
               '2011-01-02 16:00:00', '2011-01-02 17:00:00',
               '2011-01-02 18:00:00', '2011-01-02 19:00:00',
               '2011-01-02 20:00:00', '2011-01-02 21:00:00',
               '2011-01-02 22:00:00', '2011-01-02 23:00:00',
               '2011-01-03 00:00:00', '2011-01-03 01:00:00',
               '2011-01-03 02:00:00', '2011-01-03 03:00:00',
               '2011-01-03 04:00:00', '2011-01-03 05:00:00',
               '2011-01-03 06:00:00', '2011-01-03 07:00:00',
               '2011-01-03 08:00:00', '2011-01-03 09:00:00',
               '2011-01-03 10:00:00', '2011-01-03 11:00:00',
               '2011-01-03 12:00:00', '2011-01-03 13:00:00',
               '2011-01-03 14:00:00', '2011-01-03 15:00:00',
               '2011-01-03 16:00:00', '2011-01-03 17:00:00',
               '2011-01-03 18:00:00', '2011-01-03 19:00:00',
               '2011-01-03 20:00:00', '2011-01-03 21:00:00',
               '2011-01-03 22:00:00', '2011-01-03 23:00:00'],
              dtype='datetime64[ns]', freq='H')

In [5]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [6]:
ts

2011-01-01 00:00:00    1.402774
2011-01-01 01:00:00    0.944944
2011-01-01 02:00:00    0.551422
2011-01-01 03:00:00    0.338932
2011-01-01 04:00:00    0.683146
2011-01-01 05:00:00   -0.347911
2011-01-01 06:00:00    0.890813
2011-01-01 07:00:00    0.522649
2011-01-01 08:00:00   -0.754796
2011-01-01 09:00:00   -0.344406
2011-01-01 10:00:00   -1.175607
2011-01-01 11:00:00    0.382399
2011-01-01 12:00:00    1.431394
2011-01-01 13:00:00   -0.123994
2011-01-01 14:00:00    0.571900
2011-01-01 15:00:00    0.186600
2011-01-01 16:00:00   -0.534479
2011-01-01 17:00:00    0.016050
2011-01-01 18:00:00   -0.017956
2011-01-01 19:00:00    1.691896
2011-01-01 20:00:00    1.495585
2011-01-01 21:00:00    2.037900
2011-01-01 22:00:00    0.263826
2011-01-01 23:00:00   -1.425398
2011-01-02 00:00:00   -0.258597
2011-01-02 01:00:00   -0.737238
2011-01-02 02:00:00    1.009318
2011-01-02 03:00:00   -0.228334
2011-01-02 04:00:00    1.176395
2011-01-02 05:00:00    0.080599
                         ...
2011-01-02 18:00:00    1.184721
2011-01-02 19:00:00   -0.906504
2011-01-02 20:00:00   -1.017517
2011-01-02 21:00:00   -0.604566
2011-01-02 22:00:00   -1.691648
2011-01-02 23:00:00   -0.666330
2011-01-03 00:00:00   -0.469388
2011-01-03 01:00:00    0.949371
2011-01-03 02:00:00    1.109951
2011-01-03 03:00:00   -0.379087
2011-01-03 04:00:00   -0.505030
2011-01-03 05:00:00   -0.411040
2011-01-03 06:00:00    1.004555
2011-01-03 07:00:00    1.863647
2011-01-03 08:00:00   -0.030892
2011-01-03 09:00:00    1.432599
2011-01-03 10:00:00   -1.408927
2011-01-03 11:00:00    0.197186
2011-01-03 12:00:00    0.714203
2011-01-03 13:00:00    0.092720
2011-01-03 14:00:00   -1.650854
2011-01-03 15:00:00    0.510531
2011-01-03 16:00:00   -0.216625
2011-01-03 17:00:00   -0.087222
2011-01-03 18:00:00   -1.402452
2011-01-03 19:00:00   -0.336424
2011-01-03 20:00:00   -0.418163
2011-01-03 21:00:00    0.971731
2011-01-03 22:00:00   -0.065543
2011-01-03 23:00:00   -1.849832
Freq: H, Length: 72, dtype: float64

In [7]:
converted = ts.asfreq('45Min', method='pad')

In [8]:
converted

2011-01-01 00:00:00    1.402774
2011-01-01 00:45:00    1.402774
2011-01-01 01:30:00    0.944944
2011-01-01 02:15:00    0.551422
2011-01-01 03:00:00    0.338932
2011-01-01 03:45:00    0.338932
2011-01-01 04:30:00    0.683146
2011-01-01 05:15:00   -0.347911
2011-01-01 06:00:00    0.890813
2011-01-01 06:45:00    0.890813
2011-01-01 07:30:00    0.522649
2011-01-01 08:15:00   -0.754796
2011-01-01 09:00:00   -0.344406
2011-01-01 09:45:00   -0.344406
2011-01-01 10:30:00   -1.175607
2011-01-01 11:15:00    0.382399
2011-01-01 12:00:00    1.431394
2011-01-01 12:45:00    1.431394
2011-01-01 13:30:00   -0.123994
2011-01-01 14:15:00    0.571900
2011-01-01 15:00:00    0.186600
2011-01-01 15:45:00    0.186600
2011-01-01 16:30:00   -0.534479
2011-01-01 17:15:00    0.016050
2011-01-01 18:00:00   -0.017956
2011-01-01 18:45:00   -0.017956
2011-01-01 19:30:00    1.691896
2011-01-01 20:15:00    1.495585
2011-01-01 21:00:00    2.037900
2011-01-01 21:45:00    2.037900
                         ...
2011-01-03 00:45:00   -0.469388
2011-01-03 01:30:00    0.949371
2011-01-03 02:15:00    1.109951
2011-01-03 03:00:00   -0.379087
2011-01-03 03:45:00   -0.379087
2011-01-03 04:30:00   -0.505030
2011-01-03 05:15:00   -0.411040
2011-01-03 06:00:00    1.004555
2011-01-03 06:45:00    1.004555
2011-01-03 07:30:00    1.863647
2011-01-03 08:15:00   -0.030892
2011-01-03 09:00:00    1.432599
2011-01-03 09:45:00    1.432599
2011-01-03 10:30:00   -1.408927
2011-01-03 11:15:00    0.197186
2011-01-03 12:00:00    0.714203
2011-01-03 12:45:00    0.714203
2011-01-03 13:30:00    0.092720
2011-01-03 14:15:00   -1.650854
2011-01-03 15:00:00    0.510531
2011-01-03 15:45:00    0.510531
2011-01-03 16:30:00   -0.216625
2011-01-03 17:15:00   -0.087222
2011-01-03 18:00:00   -1.402452
2011-01-03 18:45:00   -1.402452
2011-01-03 19:30:00   -0.336424
2011-01-03 20:15:00   -0.418163
2011-01-03 21:00:00    0.971731
2011-01-03 21:45:00    0.971731
2011-01-03 22:30:00   -0.065543
Freq: 45T, Length: 95, dtype: float64

In [11]:
pd.Timestamp(datetime(2012, 5, 1))

TypeError: 'module' object is not callable

In [10]:
import datetime

In [13]:
pd.Timestamp(datetime.datetime(2012, 5, 1))

Timestamp('2012-05-01 00:00:00')

In [14]:
pd.Timestamp('2012-05-01')

Timestamp('2012-05-01 00:00:00')

In [15]:
pd.to_datetime(pd.Series(['Jul 31, 2009', '2010-01-10', None]))

0   2009-07-31
1   2010-01-10
2          NaT
dtype: datetime64[ns]

In [16]:
pd.to_datetime(['04-01-2012 10:00'], dayfirst=True)

DatetimeIndex(['2012-01-04 10:00:00'], dtype='datetime64[ns]', freq=None)

In [21]:
df = pd.DataFrame({'year': [2015, 2016],
                   'month': [2, 3],
                   'day': [4, 5],
                   'hour': [2, 3]})

In [22]:
df

   day  hour  month  year
0    4     2      2  2015
1    5     3      3  2016

In [23]:
pd.to_datetime(df)

0   2015-02-04 02:00:00
1   2016-03-05 03:00:00
dtype: datetime64[ns]

In [24]:
pd.to_datetime(['2009/07/31', 'asd'], errors='raise')

ValueError: Unknown string format

In [25]:
pd.to_datetime(['2009/07/31', 'asd'], errors='ignore')

array(['2009/07/31', 'asd'], dtype=object)

In [26]:
f=pd.to_datetime(['2009/07/31', 'asd'], errors='ignore')

In [27]:
f

array(['2009/07/31', 'asd'], dtype=object)

In [28]:
pd.to_datetime(['2009/07/31', 'asd'], errors='coerce')

DatetimeIndex(['2009-07-31', 'NaT'], dtype='datetime64[ns]', freq=None)

In [29]:
f=pd.to_datetime(['2009/07/31', 'asd'], errors='coerce')

In [30]:
f

DatetimeIndex(['2009-07-31', 'NaT'], dtype='datetime64[ns]', freq=None)

In [31]:
index = pd.date_range('2000-1-1', periods=1000, freq='M')

In [33]:
index = pd.date_range('2017-7-1', periods=1000, freq='W')

In [34]:
index

DatetimeIndex(['2017-07-02', '2017-07-09', '2017-07-16', '2017-07-23',
               '2017-07-30', '2017-08-06', '2017-08-13', '2017-08-20',
               '2017-08-27', '2017-09-03',
               ...
               '2036-06-22', '2036-06-29', '2036-07-06', '2036-07-13',
               '2036-07-20', '2036-07-27', '2036-08-03', '2036-08-10',
               '2036-08-17', '2036-08-24'],
              dtype='datetime64[ns]', length=1000, freq='W-SUN')

In [38]:
d = datetime.datetime(2008, 8, 18, 9, 0)

In [39]:
d

datetime.datetime(2008, 8, 18, 9, 0)

In [40]:
d + relativedelta(months=4, days=5)

NameError: name 'relativedelta' is not defined

In [44]:
d + dateutil.relativedelta(months=4, days=5)

TypeError: 'module' object is not callable

In [43]:
import dateutil

In [45]:
d + dateutil.relativedelta(months=4, days=5)

TypeError: 'module' object is not callable

In [46]:
d

datetime.datetime(2008, 8, 18, 9, 0)

In [47]:
d+dateutil.relativedelta(months=4,days=5)

TypeError: 'module' object is not callable

In [48]:
d+DateOffset(months=4,days=5)

NameError: name 'DateOffset' is not defined

In [49]:
import DateOffset

ModuleNotFoundError: No module named 'DateOffset'

In [51]:
d = datetime.datetime(2008, 8, 18, 9, 0)
d+pd.DateOffset(months=4,days=5)

Timestamp('2008-12-23 09:00:00')

In [52]:
from pandas.tseries.offsets import *

In [53]:
d+DateOffset(months=4,days=5)

Timestamp('2008-12-23 09:00:00')

In [54]:
d-5*BDay()

Timestamp('2008-08-11 09:00:00')

In [55]:
d+BDay()

Timestamp('2008-08-19 09:00:00')

In [56]:
d

datetime.datetime(2008, 8, 18, 9, 0)

In [57]:
d + BMonthEnd()

Timestamp('2008-08-29 09:00:00')

In [59]:
BMonthEnd()

In [61]:
d=datetime.datetime(2008, 8, 18, 9, 0)
offset = BMonthEnd()
offset.rollforward(d)
offset.rollback(d)

Timestamp('2008-08-29 09:00:00')

In [63]:
day = Day()
day.apply(pd.Timestamp('2014-01-01 09:00'))
day = Day(normalize=True)
day.apply(pd.Timestamp('2014-01-01 09:00'))

In [64]:
day

In [65]:
day.apply(pd.Timestamp('2014-01-01 09:00'))

Timestamp('2014-01-02 00:00:00')

In [66]:
hour = Hour()
hour.apply(pd.Timestamp('2014-01-01 22:00'))
hour = Hour(normalize=True)
hour.apply(pd.Timestamp('2014-01-01 22:00'))
hour.apply(pd.Timestamp('2014-01-01 23:00'))

Timestamp('2014-01-02 00:00:00')