In [4]:
import pandas as pd
import numpy as np
s3 = pd.Series([0, 1, 2, 3], name='foo')
s4 = pd.Series([0, 1, 2, 3])
s5 = pd.Series([0, 1, 4, 5])
pd.concat([s3, s4, s5], axis=1, keys=['red','blue','yellow'])

   red  blue  yellow
0    0     0       0
1    1     1       1
2    2     2       4
3    3     3       5

In [5]:
df1 = pd.DataFrame({'col1': [0, 1], 'col_left':['a', 'b']})

In [6]:
df2 = pd.DataFrame({'col1': [1, 2, 2],'col_right':[2, 2, 2]})

In [7]:
df1

   col1 col_left
0     0        a
1     1        b

In [8]:
df2

   col1  col_right
0     1          2
1     2          2
2     2          2

In [9]:
pd.merge(df1, df2, on='col1', how='outer', indicator=True)

   col1 col_left  col_right      _merge
0     0        a        NaN   left_only
1     1        b        2.0        both
2     2      NaN        2.0  right_only
3     2      NaN        2.0  right_only